@import url(root.css);
@import url(header.style.css);
@import url(footer.style.css);
@import url(carrusel.css);
*,
html {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  position: relative;
  background-color: var(--colorBg);
  padding-bottom: var(--footer-height);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;  
}

